<footer class="w-full py-12 mt-auto bg-slate-50 dark:bg-slate-950">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:flex justify-between items-start px-12 max-w-screen-2xl mx-auto">
    <div class="mb-8 lg:mb-0">
      <span class="font-manrope font-extrabold text-blue-900 dark:text-white text-2xl block mb-4">GoVehiculos</span>
      <p class="text-slate-500 max-w-xs font-inter text-sm antialiased">Plataforma de renta de vehículos para lo que necesites.</p>
    </div>
    <div class="flex flex-wrap gap-x-12 gap-y-8">
      <div class="space-y-4">
        <span class="block text-blue-900 dark:text-blue-100 font-bold text-sm">Servicios</span>
        <ul class="space-y-2">
          <li><a class="text-slate-500 dark:text-slate-400 hover:text-blue-600 dark:hover:text-blue-300 transition-opacity font-inter text-sm underline underline-offset-4 opacity-80 hover:opacity-100" href="#">Renta</a></li>
          <li><a class="text-slate-500 dark:text-slate-400 hover:text-blue-600 dark:hover:text-blue-300 transition-opacity font-inter text-sm underline underline-offset-4 opacity-80 hover:opacity-100" href="#">Programa de Socios</a></li>
        </ul>
      </div>
      <div class="space-y-4">
        <span class="block text-blue-900 dark:text-blue-100 font-bold text-sm">Compañia</span>
        <ul class="space-y-2">
          <li><a class="text-slate-500 dark:text-slate-400 hover:text-blue-600 dark:hover:text-blue-300 transition-opacity font-inter text-sm underline underline-offset-4 opacity-80 hover:opacity-100" href="#">Politica de Privacidad</a></li>
          <li><a class="text-slate-500 dark:text-slate-400 hover:text-blue-600 dark:hover:text-blue-300 transition-opacity font-inter text-sm underline underline-offset-4 opacity-80 hover:opacity-100" href="#">Terminos de Servicio</a></li>
          <li><a class="text-slate-500 dark:text-slate-400 hover:text-blue-600 dark:hover:text-blue-300 transition-opacity font-inter text-sm underline underline-offset-4 opacity-80 hover:opacity-100" href="#">Contacto</a></li>
        </ul>
      </div>
    </div>
    <div class="mt-8 lg:mt-0 text-right">
      <p class="text-slate-500 dark:text-slate-400 font-inter text-sm antialiased opacity-80">© 2026 GoVehiculos. Todos los derechos reservados.</p>
      <div class="flex gap-4 justify-end mt-4">
        <span class="material-symbols-outlined text-slate-400">facebook</span>
        <span class="material-symbols-outlined text-slate-400">instagram</span>
      </div>
    </div>
  </div>
</footer>
