<aside class="h-[calc(100vh-5rem)] w-64 fixed left-0 top-20 bg-surface-container-low dark:bg-slate-900 flex flex-col p-6 space-y-2 z-40">
  <div class="mb-10 px-2">
    <h1 class="font-headline font-extrabold text-blue-900 dark:text-white text-2xl tracking-tight">Administrador</h1>    
  </div>
  <nav class="flex-grow space-y-1">
    <a data-sidebar-link href="/dashboard_general_tecnico.html" class="flex items-center gap-3 px-4 py-3 text-slate-600 hover:translate-x-1 transition-transform duration-200 font-medium text-sm rounded-lg">
      <span class="material-symbols-outlined">dashboard</span>
      Dashboard
    </a>
    <a data-sidebar-link href="/deshboard_vehiculos.html" class="flex items-center gap-3 px-4 py-3 text-slate-600 hover:translate-x-1 transition-transform duration-200 font-medium text-sm rounded-lg">
      <span class="material-symbols-outlined">directions_car</span>
      Vehiculos
    </a>
    <a data-sidebar-link href="/dashboard_user_directory.html" class="flex items-center gap-3 px-4 py-3 text-slate-600 hover:translate-x-1 transition-transform duration-200 font-medium text-sm rounded-lg">
      <span class="material-symbols-outlined">group</span>
      Usuarios
    </a>   
  </nav>
  <div class="mt-auto space-y-1 pt-6 border-t border-outline-variant/10">
    <a data-sidebar-link href="/perfil_view.html" class="flex items-center gap-3 px-4 py-2 text-slate-500 hover:text-blue-600 transition-colors text-sm">
      <span class="material-symbols-outlined">account_circle</span>
      Mi Perfil
    </a>
    <a class="flex items-center gap-3 px-4 py-2 text-slate-500 hover:text-blue-600 transition-colors text-sm" href="#">
      <span class="material-symbols-outlined">help_center</span>
      Soporte
    </a>
    <a data-logout-link class="flex items-center gap-3 px-4 py-2 text-slate-500 hover:text-error transition-colors text-sm" href="/index.html">
      <span class="material-symbols-outlined">logout</span>
      Cerrar Sesión
    </a>
  </div>
</aside>
